<%= form_with scope: :question, url: questions_path, local: true do |form| %>
  <p>
    
    <%= form.label :enter_your_question %><br>
    <%= form.text_area :question, :required => 'required', style: "width:800px;" %>
  
  </p>
  
  <p>
    <%= form.label :email_id %><br>   
    <%= form.text_field :email_id, value: current_user.email,  readonly: true, :required => 'required' ,style: "width:800px;"%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>