<% @comments.each do |comment| %>
    <h4><%= link_to comment.title, comment %><br>
      Submitted <%= time_ago_in_words(comment.created_at) %> 
      by <%= comment.user.email %>
    </h4>

<%= link_to 'Like', like_question_comment_path(comment), method: :put do %>
  Upvote
  <%= comment.get_upvotes.size %>
<% end %>




<%= link_to 'Dislike', dislike_question_comment_path(comment), method: :put do %>
  Downvote 
  <%= comment.get_downvotes.size %>

<% end %>